

/*BLANKET STYLING*/
body{
  font-family: 'Roboto';
  margin: 0 auto;
  background-color: #f2f2f2;
  border: 5px solid salmon;
  display: block;
}

/*----------LANDING PAGE -------*/

/*MAIN TITLE BANNER*/
header{
  height: 345px;
  width: auto;
  color: white;
  background: linear-gradient( rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 5) ), url("img/header.png");
  background-size: auto;
  background-position: right;
  border: 0px solid salmon;
}

#mainText{
  font-size: 60px;
  font-weight: bolder;
  margin: 0px 0px 0px 20px;
  padding-top: 260px;
  color: salmon;
  border: 0px;
  /*box-shadow: 10px 10px 50px #888888;*/
}

#subtext{
  font-size: 15px;
  padding-left: 30px;
  padding-top: 15px;
  color: white;
  /*font-weight: lighter;*/
}

/*MENU BAR*/
#menu{
  height: 60px;
  width: 100%;
  background-color: #b2b2b2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-items{
  color:white;
  padding-left: 30px;
}

/*CITIES CIRCLES*/
#locations, #profile_manager{
  padding: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  /*border: 5px solid salmon;*/
}

a{
  text-decoration: none;
}

.circles{
  height: 230px;
  width: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 35px;
  /*font-weight: bold;*/
  border: 5px solid white;
  border-radius: 100%;
  margin: 30px 0 -1px 0;
  box-shadow: 10px 10px 50px #888888;
}

.state{
  font-weight: 100;
  font-size: 20px;
}

#cities-austin{
    background-image: linear-gradient( rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.5) ),url("./img/austin.jpg");
}

#cities-portland{
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ),url("./img/portland.jpg");
    background-position: center;
}

#cities-nyc{
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ),url("./img/nyc.jpeg");
    background-position: right;
}

#temp{
  height: 18px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

/*FOOTER*/
#empty{
  height: 50px;
}

/*----------LOGIN PAGE--------*/
#create_button{
  height: 150px;
  width: 150px;
  background-color: #b3f442;
}

#login_div{
  height: 315px;
  width: 270px;
  margin-top: 40px;
  background-color: #b2b2b2;
  border: 5px solid white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#login_title{
  color: white;
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: lighter;
}

.login_input{
  height: 35px;
  width: 80%;
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  color: #b2b2b2;
}

#bold_font{
  font-weight: bold;
}

#profile_access{
  height: 80px;
  width: 80px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 100%;
  margin-top: 23px;
  box-shadow: 10px 10px 50px #888888;
  background-color: salmon;
}

/*-----PROFILE CREATION PAGE-----*/
/*----MAIN FORM------*/
#form_wrapper{
  height: auto;
  width: 90%;
  margin: 20px auto;
}

.input_div{
  margin-top: 8px;
  color: #b2b2b2;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 4px;
}

.input_field{
  height: 30px;
  width: 90%;
  margin: 8px 0;
  border: 1px solid #f2f2f2;
}

#color_picker_wrapper{
  height: 350px;
  width: auto;
  margin: 20px 0;
}

#done_button{
  height: 70px;
  width: 70px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 100%;
  margin-top: 23px;
  box-shadow: 10px 10px 50px #888888;
  background-color: #b3f442;
  margin-left: 38%;
}

/*-------CLIENT PROFILE--------*/

#profile_h1, #create_h1{
  margin: 0px;
  font-size: 40px;
  font-weight: bolder;
  padding: 50px 0px 0px 20px;
  color: salmon;
}

/*OPEN/CLOSED BUTTON*/
#open_closed_div{
  height: 200px;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#open{
  height: 120px;
  width: 120px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 100%;
  margin-top: 23px;
  box-shadow: 10px 10px 50px #888888;
  background-color: #b3f442;
}

#closed{
  height: 120px;
  width: 120px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 100%;
  margin-top: 23px;
  box-shadow: 10px 10px 50px #888888;
  background-color: salmon;
}

#create_page_header, #profile_page_header{
  margin: 0px;
  height: 145px;
  width: auto;
  color: white;
  background-image: linear-gradient( rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 5) ),url("/img/header.png");
  background-position: right;
  /*background-repeat: no-repeat;*/
  background-size: auto;
  /*border: 5px solid salmon;*/
}

/*-------TRUCK CARDS & FILTER -------*/
#cards_body{
  border: none;
}
/*NAVIGATION*/
#filter, #back{
  height: 60px;
  width: 100%;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 5px;
  padding-left: 20px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 50px #888888;
}

#filter_mask{
  height: 0px;
  width: 0px;
  position: absolute;
  background-color: black;
  opacity: 0.8;
}

#filter_title{
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  letter-spacing: 5px;
}

/*CARDS*/
.single-card{
  height: 350px;
  width: 95%;
  margin: 10px auto;
  border: 3px solid salmon;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 50px #888888;
}

#status{
  margin-top: -30px;
  height: 25px;
  width: 97%;
  opacity: 0.7;
  background-color: gray;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#status_text{
  font-family: cursive;
  font-size: 15px;
  color:lime;
  align-self: center;
}

#gallery{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px 0 5px 0;
}

#image_div{
  height: 200px;
  width: 97%;
  background-image: url("img/waffle1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#button_wrapper{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

#img_slide_left{
  color: white;
  text-align: center;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  text-decoration: none;
  font-size: 60px;
  outline: none;

}

#img_slide_right{
  color: white;
  text-align: center;
  background-color: transparent;
  border: none;
  margin-right: 12px;
  text-decoration: none;
  font-size: 60px;
  outline: none;
}

.card_text{
  color: gray;
}

#name{
  font-size: 20px;
  text-align: center;
  margin: 20px 0 10px 0;
}

#blurb{
  height: 50px;
  margin: 10px;
  text-align: center;
  font-weight: lighter;
  line-height: 22px;
}

.gps{
  background-color: #b2b2b2;
  height: 35px;
  width: 80%;
  margin: 10px 0 10px 0;;
  align-self: center;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gps_close, #filter_close{
  height: 30px;
  width: 30px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 100%;
  margin: 8px 8px 0 15px;
  box-shadow: 5px 5px 20px #888888;
  background-color: salmon;
  position: relative;
}

#map_wrapper{
  height: 0px;
  width: 97%;
  background-color: #b2b2b2;
  box-shadow: 10px 15px 20px #888888;
}

#map{
  height: 0px;
  width: 97%;
  margin: 0 auto;
}




